/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  width: 100%;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
  color: black;
}
body {
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 1.4;
  max-width: 800px;
  background-color: #e8f4f8;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Muli', sans-serif;
  color: black;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.6rem;
}
header {
  width: 98%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
header div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
}
@media (max-width: 500px) {
  header div {
    flex-direction: column;
    align-items: center;
  }
}
header nav {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 360px) {
  header nav {
    width: 100%;
  }
}
header img {
  width: 80px;
}
header a {
  text-decoration: none;
  display: block;
  width: 160px;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  background-color: #6FA0D0;
  color: white;
  border-radius: 4px;
}
header a:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
@media (max-width: 350px) {
  header a {
    width: 150px;
  }
}
header h1 {
  text-align: center;
}
.border1 {
  margin: 0 auto;
  height: 4px;
  background-color: #6FA0D0;
}
.description {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
.description p {
  text-align: center;
  margin-bottom: 20px;
}
.border2 {
  margin: 0 auto;
  height: 4px;
  background-color: #6FA0D0;
}
.features {
  width: 98%;
  margin: 0 auto;
}
.features h2 {
  text-align: center;
  margin-top: 20px;
}
.features img {
  width: 40%;
  border-radius: 4px;
}
@media (max-width: 500px) {
  .features img {
    width: 75%;
  }
}
.features div div {
  width: 40%;
}
@media (max-width: 500px) {
  .features div div {
    width: 75%;
  }
}
.features .feat1,
.features .feat2,
.features .feat3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  border: 1px solid #6FA0D0;
  padding: 10px 0;
}
@media (max-width: 500px) {
  .features .feat1,
  .features .feat2,
  .features .feat3 {
    flex-direction: column-reverse;
  }
}
.features .feat2 {
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  .features .feat2 {
    flex-direction: column-reverse;
  }
}
.features .para1 {
  margin-bottom: 20px;
}
.features ul {
  list-style-type: square;
  margin-left: 20px;
  width: 90%;
}
footer {
  margin-top: 20px;
  background-color: #6FA0D0;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
footer .credits a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
footer .line1 {
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}
footer .line1 p {
  width: 270px;
  margin-bottom: 10px;
  color: white;
}
footer .line1 nav {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  footer .line1 nav {
    flex-wrap: wrap;
  }
}
footer .line1 nav a {
  color: white;
  text-decoration: none;
}
footer .line1 nav a:hover {
  text-decoration: underline;
}
footer .iconsCredit {
  color: white;
  font-size: 1rem;
}
