header {
    width:98%;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:20px;

    div {
        display: flex;
        justify-content: space-between;
        margin-top:10px;
        margin-bottom:20px;
    }

    nav {
        width:350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img {
        width:80px;
    }

    a {
        text-decoration: none;
        display: block;
        width:160px;
        padding: 10px 0;
        text-align: center;
        font-weight:bold;
        background-color: @general-color;
        color: white;
        border-radius:4px;

        &:hover {
            background-color:  white;
            color: black;
        }
    }

    h1 {
        text-align: center;
    }

    
// * {
//     border:1px solid black;
// }


}

.border1 {
    margin:0 auto;
    height:4px;
    background-color:@general-color;
}
