.teamStatement {
    width:80%;
    margin:0 auto;
    margin-top:20px;
    text-align:center;
    margin-bottom:20px;
}

.border2 {
    margin:0 auto;
    height:4px;
    background-color:@general-color;
}


h2 {
    text-align:center;
    margin-top:20px;
}


.team {
    margin-top:20px;
    
    .teamMembers {
    
        section {
            width:90%;
            margin:0 auto;
            border:1px solid @general-color;
            padding-top:10px;
            padding-bottom:10px;
            margin-bottom:20px;
    
        }
    }

    h4 {
        margin-left:3%;
        width:97%;
        margin-bottom: 5px;
        
    }

    .memberInfo {
        margin-left:3%;
        width:97%;
        // width:290px;
        // margin:0 auto;
        display: flex;

        @media (max-width: 340px) {
            margin-left:3%;
        }

        // border:1px solid black;
    }

    img {
        width:160px;
        border-radius: 4px;
    }

    .speechBubble {
        position:relative;
        left:5px;
        text-align: center;
        width:120px;
        height:60px;
        
        img {
            width:110px;
            height:50px;
        }

        p {
            position: absolute;
            top:12px;
        }
                
        
    }
    
    
    .space {
        height:20px;
    }


// * {
//     border:1px solid black;
// }



}